body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

.now-playing {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 12px 12px 12px 24px;
  background-color: rgb(67, 68, 80);
  font-family: "Audiowide", cursive;
  color: white;
  border-radius: 24px 0 0 0;
}
