body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

.now-playing {
  width: 400px;
  height: 85px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  padding: 8px 24px 8px 16px;
  background-color: rgb(67, 73, 80);
  border-radius: 0 24px 0 0;
}

.now-playing-info {
  display: flex;
  padding-bottom: 8px;
}

#now-playing-artist {
  font-family: "Raleway", cursive;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#now-playing-track {
  font-family: "Raleway", cursive;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.now-playing-image {
  width: 20%;
  height: 50%;
}

.album-image {
  width: 60px;
}

.now-playing-text {
  width: 80%;
  height: 50%;
}
